<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Portafolio</title>
    <link rel="stylesheet" href="../static/home.css">
</head>

<body>
    <!--
        <h1>Mi Portafolio</h1>
        <nav>
            <ul>
                <li><a href="#sobre-mi">Sobre Mí</a></li>
                <li><a href="#proyectos">Proyectos</a></li>
                <li><a href="#habilidades">Habilidades</a></li>
                <li><a href="#contacto">Contacto</a></li>
            </ul>
        </nav>
  -->

    <section id="inicio">
        <img src="../static/memoji.png" alt="Mi Foto de Perfil" class="profilep">
        <h2>Hola, soy Joceline</h2>
        <p>Ingeniero en Computación apasionado por el desarrollo de software y la tecnología.</p>
    </section>

    <section id="sobre-mi">
        <h2>Sobre Mí</h2>
        <p>Aquí puedes escribir un poco más sobre tu experiencia, estudios y motivaciones.</p>
    </section>

    <section id="proyectos">
        <h2>Proyectos</h2>
        <p>Listado de proyectos en los que has trabajado con enlaces a GitHub u otras plataformas.</p>
    </section>

    <section id="habilidades">
        <h2>Habilidades</h2>
        <p>Lista de tecnologías y herramientas que dominas.</p>
    </section>

    <section id="contacto">
        <h2>Contacto</h2>
        <p>Formulario de contacto o enlaces a redes sociales.</p>
    </section>

    <footer>
        <p>&copy; 2025 [Tu Nombre]. Todos los derechos reservados.</p>
    </footer>
</body>

</html>